---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Header from "@/components/site/Header.astro";
import Hero from "@/components/site/Hero.astro";
import TrustStrip from "@/components/site/TrustStrip.astro";
import VisionSection from "@/components/site/VisionSection.astro";
import FeatureGrid from "@/components/site/FeatureGrid.astro";
import SecuritySection from "@/components/site/SecuritySection.astro";
import ComparisonSection from "@/components/site/ComparisonSection.astro";
import GlobalSection from "@/components/site/GlobalSection.astro";
import EnterpriseSection from "@/components/site/EnterpriseSection.astro";
import RoadmapSection from "@/components/site/RoadmapSection.astro";
import KickstarterSection from "@/components/site/KickstarterSection.astro";
import FAQSection from "@/components/site/FAQSection.astro";
import FinalCTA from "@/components/site/FinalCTA.astro";
import Footer from "@/components/site/Footer.astro";
---

<BaseLayout>
  <Header />
  <main id="main">
    <Hero />
    <TrustStrip />
    <VisionSection />
    <FeatureGrid />
    <SecuritySection />
    <ComparisonSection />
    <GlobalSection />
    <EnterpriseSection />
    <RoadmapSection />
    <KickstarterSection />
    <FAQSection />
    <FinalCTA />
  </main>
  <Footer />
</BaseLayout>
